*,  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
}

nav {
    background-color:#F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;
}

nav .icons  {
   display: flex;
   align-items: center;
}

nav .icons i{
    width: 30px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 2px solid black;
}

nav div img{
    width: 80px;
}

.conten{
    background-color: #554E4E;
    padding-bottom: 115px;
}

.rour1{
    display: flex;
    gap: 9px;
}

.conten .page img{
    transform: rotate(-37deg);
    position: relative;
    top: 30px;
    left: 460px;
}

.line{
    width: 13px;
    height: 450px;
    background-color: rgb(221, 219, 219);
    position: relative;
    left: 49%;
}

.page img{
   width: 100%;
}

 .img img{
    width: 55px;
 }


.conten .rour1 .img{
    position: relative;
    top: 455px;
    left: 320px;
}

.line1{
    width: 13px;
    height: 60px;
    background-color: rgb(221, 219, 219);
    position: relative;
    left: 255px;
    top: 505px;
}

.second{
    background-color: #DEDEDE;
}

.sec {
    gap: 1rem;
    padding: 30px;
    position: relative;
}

.raul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1rem;
    margin-left: 70px;
}


.sec .product{
    width: 280px;
    background-color: #B0B0B0;
    margin-top: 20px;
}


.sec .product img{
    width: 200px;
    position: relative;
    left: 35px;
    top: 30px;
}

.sec .product .information{
    background-color: #f6f5f5;
    padding: 0px 30px;
    font-family: "sans-serif";
    flex-wrap: wrap;
}

.sec .product .information button{
    width: 30%;
    background-color: #B0B0B0;
    border: none;
    border-radius: 5px;
}

.sec .arrow{
    width: 950px;
    position: absolute;
    justify-content: space-between;
    display: flex;
    top: 40%;
}

.sec  .arrow button{
    font-size: 20px;
    width: 25px;
    height: 30px;
    background-color: #E9E9E9;
    border: #3D3D3D;
    margin: px 10px;
}

.container{
    min-width: 100%;
    margin: auto;
    position: relative;
}

.rour{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
}

ul{
    list-style: none;
}

.footer{
    background-color: #888888;
    padding: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-col{
    width: 9%;
    padding: 0, 100%;
    margin-left: 130px;
}

.footer-col img{
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}






