*,  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'open sans';
    overflow-x: hidden; 
      
}

nav {
    background-color:#F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;
}

nav .icons  {
   display: flex;
   align-items: center;
}

nav .icons i{
    width: 30px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 2px solid black;
}

nav div img{
    width: 80px;
}

.imge {
    position: absolute;
    left: 7%;
}
  
.product-container {
      display: flex;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      background-color: #f5f2f2;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
     background-color: #D9D9D9;
     width: 70%;
     height: 580px;
}

.product-image img {
      width: 400px;
      border-radius: 10px;
      position: relative;
      left: 30%;
      bottom: 100px;    
}
  
.back-link {
      display: block;
      margin-top: 20px;
      color: #333;
      text-decoration: none;
      font-weight: bold;
      padding: 20px;
}
  
.product-info {
      background-color: #f5f2f2;
      padding: 50px ;
      position: fixed;
      left: 70%;
      width: 200%;
      height: 100vh;
      top: 20px;
      border: 1px solid #000000;
      
}
  
.product-title {
      font-size: 2rem;
      margin-bottom: 10px;
}

.product-oke{
      position: relative;
      margin-bottom: 70px;
      color: #e74c3c;
      font-size: 12px;
}
  
.product-price {
      font-size: 1.5rem;
      color: #e74c3c;
      margin-top: 50px;
  
}
  
.product-code {
      font-size: 16px;
      margin-bottom: 20px;
}
  
.product-options {
      margin-top: 20px;
}
  
.product-options label {
      font-weight: bold;
      margin-right: 10px;
      position: relative;
}
  
.product-options select {
      padding: 5px;
      font-size: 1rem;
}
  
.add-to-cart {
      padding: 10px 10px;
      background-color: #707171;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 12px;
      margin-top: 30px;
  }
  
.add-to-cart:hover {
      background-color: #2980b9;
  }
  
.wishlist-link {
      display: block;
      margin-top: 50px;
      color: #e74c3c;
      text-decoration: none;
      font-weight: bold;
}

.information{
      background-color: #f5f2f2;
      padding: 70px;
  }
  
.information .text {
      position: relative;
      left: 20px;
}

.information .text p{
      margin-bottom: 15px;
}

.information .text h5{
      margin-bottom: 40px;
}

.information .text h1{
     margin-bottom: 5px;
     font-size: 50px;
}


.information .text ul{
      list-style-type: none;
}

.information .text h2{
      margin-bottom: 20px;
}

.container{
      min-width: 100%;
      margin: auto;
      position: relative;
  }
  
  .rour{
      display: flex;
      flex-wrap: wrap;
      max-width: 950px;
      margin: auto;
  }
  
  ul{
      list-style: none;
  }
  
  .footer{
      background-color: #888888;
      padding: 50px;
      position: relative;
      bottom: 0;
      width: 100%;
  }
  
  .footer-col{
      width: 9%;
      padding: 0, 100%;
      margin-left: 130px;
  }
  
  .footer-col img{
      margin-bottom: 50px;
      position: relative;
      width: 100%;
  }
  
  
  
  
  
  